/* ~~~~ Custom variables ~~~~ */

:root {
    --strong-cyan: hsl(172, 67%, 45%);    
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --custom-white: hsl(0, 0%, 100%);
}

/* ~~~~ CSS reset ~~~~ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100dvh;
  font-family: 'Space Mono', monospace;
  background-color: var(--light-grayish-cyan);
  font-weight: 700;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ~~~~ Added Styling ~~~~ */

body {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.hidden {
  display: none;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-image {
  margin: 2rem 0;
}

.card {
  background-color: var(--custom-white);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bill {
  display: flex;
  width: 100%;
  text-align: right;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
}

.bill-label {
  width: 100%;
  text-align: left;
  color: var(--dark-grayish-cyan);
  margin-bottom: 0.5rem;
}

.tip-header {
  align-self: flex-start;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1rem;
  color: var(--dark-grayish-cyan);
}

.button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.button {
  width: 100%;
  background-color: var(--very-dark-cyan);
  color: var(--custom-white);
  border-radius: 0.3rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.button:hover {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.custom-tip {
  border: none;
  border-radius: 0.3rem;
  width: 100%;
  text-align: right;
  color: var(--very-dark-cyan);
  background-color: var(--light-grayish-cyan);
  font-size: 1.2rem;
  padding: 0.1rem 0.5rem;
}

.custom-tip:hover {
  border: 2px solid var(--strong-cyan);
}

.number-of-people-label {
  align-self: flex-start;
  margin: 1.5rem 0 0.5rem 0;
  font-size: 1rem;
  color: var(--dark-grayish-cyan);
}

.people {
  width: 100%;
  text-align: right;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.2rem;
  padding: 0.3rem 0.5rem;
}

.payment-container {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background-color: var(--very-dark-cyan);
  padding: 2rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--custom-white);
}

.tip-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'heading tip'
  'subtext tip';
}

.tip-amount-header {
  grid-area: heading;
}

.tip-amount-subtext {
  grid-area: subtext;
  color: var(--light-grayish-cyan);
}

.tip {
  grid-area: tip;
  display: grid;
  text-align: center;
  font-size: 2rem;
  color: var(--strong-cyan);
}

.total-split-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'split-heading split'
  'split-subtext split';
}

.split-header {
  grid-area: split-heading;
}

.split-subtext {
  grid-area: split-subtext;
  color: var(--light-grayish-cyan)
}

.split {
  grid-area: split;
  display: grid;
  text-align: center;
  font-size: 2rem;
  color: var(--strong-cyan);
}

.reset-button {
  width: 100%;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border-radius: 0.3rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}